


<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>About Us</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="index.htm">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:;">Company</a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="main_content">


    <div class="section pt-4">
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col-md-12">
                    
                    <p>
                        We introduce ourselves to be reckoning merchant exporter from India. M/s Lambodar Overseas established in the Year 2016 to cater international client with astonishing designs of natural stone from India.
                    </p>
                    <p>
                        M/s Lambodar Overseas is committed to supply highest standards of Qualitative Stone at Optimum price to build long lasting partnership with our client by proposing the best offer for the trade.
                    </p>
                    <p>
                        Over these years we have successfully managed to develop the strategic alliance with quarry owners and stone processers to deliver ‘Value for Money" products to customers on timely basis. We do acknowledge the importance and essentiality of choosing the reliable supplier which requires attention and due diligence in the international market.
                    </p>
                    <p>
                        Our team is consisting of expert who having experience of over the decade in the field of Stone Industry and Export processes to ensure smooth movement of product to the client. We recognize our responsibilities and make our client delighted with our professional approach when they select us as their trustable supplier.
                    </p>
                    <p>
                        We are truly pursuing our tag line to marvel our client with rocks designs.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="pt-2">Customer Support Team</h5>
                </div>
                <div class="col-md-4">
                    <p>
                        <strong>Mr. Kalpesh Patel</strong>
                        <br>
                        <i class="ion-social-whatsapp"></i> <i class="ion-android-phone-portrait"></i>: <a href="tel:+919913990377">+919913990377</a>
                        <br>
                        <a href="mailto:kalpesh@lambodar.co.in">kalpesh@lambodar.co.in</a>
                    </p>
                </div>
                <div class="col-md-4">

                    <p>
                        <strong>Mr. Hardik Shah</strong>
                        <br>
                        <i class="ion-social-whatsapp"></i> <i class="ion-android-phone-portrait"></i>: <a href="tel:+919925114342">+919925114342</a>
                        <br>
                        <a href="mailto:hardik@lambodar.co.in">hardik@lambodar.co.in</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <h5 class="pt-2">Sister Concerns Company</h5>
                </div>
                <div class="col-md-4">

                    <p>
                        <strong>Vallabh Traders</strong><br>
                        U/6, Shakuntal Chamber, Near Civil Circle <br> District: Sabarkantha, Himatnagar  <br>383001, Gujarat, India
                    </p>
                </div>
                <div class="col-md-4">

                    <p>
                        <strong>Uma Marble</strong><br>
                        Near Vaikunthdham Temple, Motipura <br> District: Sabarkantha, Himatnagar  <br>383001, Gujarat, India
                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="section bg_gray  pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="heading_s1 text-center">
                        <h2>Why Choose Us?</h2>
                    </div>
                    <p class="text-center leads">
                        Lambodar Overseas is one of the most sought-after destination for the first-grade marble and granites and marbles.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-6">
                    <div class="icon_box icon_box_style4 box_shadow1">
                        <div class="icon">
                            <i class="ti-pencil-alt"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>Qualitative Range of Quality products</h5>
                            <p>With a wide range of top notch quality of natural stones products, we set standards in the natural stones industry</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="icon_box icon_box_style4 box_shadow1">
                        <div class="icon">
                            <i class="ti-layers"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>Customer oriented approach & Timely delivery</h5>
                            <p>With a customer centric approach, we offer customized granites and marbles for various industries across the world</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="icon_box icon_box_style4 box_shadow1">
                        <div class="icon">
                            <i class="ti-email"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>Cost effectiveness of the entire range</h5>
                            <p>Offering the best-class cost effective natural stones products without compromising in the quality</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="icon_box icon_box_style4 box_shadow1">
                        <div class="icon">
                            <i class="ti-email"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>Well experienced team </h5>
                            <p>Run and managed by a highly qualified and expert team of professional, well-skilled workers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    

    
<div class="section bg_default pb_70 text_white">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-shipped"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Delivering Worldwide</h5>
                        <p>Fulfilling the global demands of the top quality marbles and granite products</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-money-back"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Ethical Business Policies</h5>
                        <p>We grow when you grow and making our customers satisfied is our top priority</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-support"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Instant Support</h5>
                        <p>We are always on our toes to resolve you after sales backend support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

