

    

<div class="main_content">

    <div class="section small_pt pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="heading_s1 text-center">
                        <h2>Exporting the Top Quality Marbles and Granite Products Worldwide</h2>
                    </div>
                    <p class="text-center leads">
                        With an aim to deliver the highest quality of granite products and marbles, Lambodar Overseas strives to setting higher and higher standards in industry with robust quality and manufacturing process.
                    </p>
                </div>
            </div>
            <div class="row shop_container">

                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="product">
                            <div class="product_img">
                                <a href="Products/1.html">
                                    <img src="assets/images/products/1/main-min.jpg" alt="Crystal Yellow Granite" title="Crystal Yellow Granite">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">

                                        <li><a asp-area="" asp-controller="Home" asp-action="oneone" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a asp-area="" asp-controller="Home" asp-action="one">Crystal Yellow Granite</a></h6>
                                <div class="pr_desc">
                                    <p>&lt;p&gt;Crystal Yellow is the color of the Granite mining from recently found quarry in west side of India state call Gujarat. It is having a Shiny yellow surface with black dots which looks aesthetic.
&lt;/p&gt;&lt;p&gt;It has low water absorption and can be used for Indoor and Outdoor application.
&lt;/p&gt;&lt;p&gt;Lambodar Oversea is the leading exporter of India. We can supply the quality granite material within promised delivery period.&lt;/p&gt;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="product">
                            <div class="product_img">
                                <a href="Products/2.html">
                                    <img src="assets/images/products/2/main-min.jpg" alt="Crystal Blue Granite" title="Crystal Blue Granite">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Twotwoo" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a asp-area="" asp-controller="Home" asp-action="Two">Crystal Blue Granite</a></h6>
                                <div class="pr_desc">
                                    <p>&lt;p&gt;Crystal Blue Granite is the greyish color stone with Crystal Line of Mineral within. its stunning look become the prime choice of Architect and Interior Designer. 
&lt;/p&gt;&lt;p&gt;It is ideal for Kitchen Top &amp; staircasing.
&lt;/p&gt;&lt;p&gt;Lambodar Oversea is the leading exporter of India. We can supply the quality granite material within promised delivery period.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="product">
                            <div class="product_img">
                                <a href="Products/3.html">
                                    <img src="assets/images/products/3/main-min.jpg" alt="Crystal Brown Granite" title="Crystal Brown Granite">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Threethreee" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a asp-area="" asp-controller="Home" asp-action="Three">Crystal Brown Granite</a></h6>
                                <div class="pr_desc">
                                    <p>&lt;p&gt;Crystal Brown is a kind of Brown Granite mined from Sabarkantha, Gujarat. It has very unique pattern of brown color makes it excellent for outdoor and indoor use.
&lt;/p&gt;&lt;p&gt;It is ideal for Kitchen Top and Flooring.
&lt;/p&gt;&lt;p&gt;Lambodar Oversea is the leading exporter of India. We can supply the quality granite material within promised delivery period.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="product">
                            <div class="product_img">
                                <a href="Products/4.html">
                                    <img src="assets/images/products/4/main-min.jpg" alt="Black Galaxy Granite" title="Black Galaxy Granite">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Fourfourr" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a asp-area="" asp-controller="Home" asp-action="Four">Black Galaxy Granite</a></h6>
                                <div class="pr_desc">
                                    <p>&lt;p&gt;Black Galaxy, name itself allude to imagine night sky with twinkling stars. It has the texture of Golden &amp; white Speckle on surface in dark black background. This granite definitely d&#233;cor flooring with starts. It is abundantly available in south India.
&lt;/p&gt;&lt;p&gt;This is ideal to use for Kitchen Top, Flooring &amp; outdoor.
&lt;/p&gt;&lt;p&gt;Lambodar Oversea is the leading exporter of India. We can supply the quality granite material within promised delivery period.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="product">
                            <div class="product_img">
                                <a href="Products/5.html">
                                    <img src="assets/images/products/5/main-min.jpg" alt="Absolute Black Granite" title="Absolute Black Granite">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Fivefivee" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a asp-area="" asp-controller="Home" asp-action="Five">Absolute Black Granite</a></h6>
                                <div class="pr_desc">
                                    <p>&lt;p&gt;Absolute Black is the solid black Color Granite stone from South India which has a very consistent color and texture. Because of its deep black color feature helps to get popularity not only in India but around the world for export. 
&lt;/p&gt;&lt;p&gt;It is very much recommended for Kitchen Top and Architectural Feature.
&lt;/p&gt;&lt;p&gt;Lambodar Oversea is the leading exporter of India. We can supply the quality granite material within promised delivery period.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="product">
                            <div class="product_img">
                                <a href="Products/6.html">
                                    <img src="assets/images/products/6/main-min.jpg" alt="Tan Brown Granite" title="Tan Brown Granite">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Sixsixx" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a asp-area="" asp-controller="Home" asp-action="Six">Tan Brown Granite</a></h6>
                                <div class="pr_desc">
                                    <p>&lt;p&gt;Tan Brown is the granite mined from the south part of India. It is brown color granite with Chocolate Granules. It is widely use in Kitchen Top because of Low water absorption feature.
&lt;/p&gt;&lt;p&gt;It is popularly use for interior and Exterior projects.
&lt;/p&gt;&lt;p&gt;Lambodar Oversea is the leading exporter of India. We can supply the quality granite material within promised delivery period.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="product">
                            <div class="product_img">
                                <a href="Products/7.html">
                                    <img src="assets/images/products/7/main-min.jpg" alt="Sapphire Blue Granite" title="Sapphire Blue Granite">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Sevensevenn" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a asp-area="" asp-controller="Home" asp-action="Seven">Sapphire Blue Granite</a></h6>
                                <div class="pr_desc">
                                    <p>&lt;p&gt;Sapphire Blue granite presents faded brown spots and light purple crystals over a brown background with different micro gray lines and spots.
&lt;/p&gt;&lt;p&gt;This stone is especially good for countertop, Exterior &amp; Interior Wall.
&lt;/p&gt;&lt;p&gt;Lambodar Oversea is the leading exporter of India. We can supply the quality granite material within promised delivery period.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="product">
                            <div class="product_img">
                                <a href="Products/8.html">
                                    <img src="assets/images/products/8/main-min.jpg" alt="G D Brown Granite" title="G D Brown Granite">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Eighteightt" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a asp-area="" asp-controller="Home" asp-action="Eight">G D Brown Granite</a></h6>
                                <div class="pr_desc">
                                    <p>&lt;p&gt;G D Brown Granite mined from Gujarat State which is the west part of India. It has Beautiful Patters and style with appealing color combos. With uniform design and color throughout the stone, this provides a modern look to interiors and exteriors of residential as well as commercial spaces
&lt;/p&gt;&lt;p&gt;This is ideal to use for Kitchen Top, Flooring, Staircase &amp; Outdoor.
&lt;/p&gt;&lt;p&gt;Lambodar Oversea is the leading exporter of India. We can supply the quality granite material within promised delivery period.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="product">
                            <div class="product_img">
                                <a href="Products/9.html">
                                    <img src="assets/images/products/9/main-min.jpg" alt="Gem Red Granite" title="Gem Red Granite">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Nineninee" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a asp-area="" asp-controller="Home" asp-action="Nine">Gem Red Granite</a></h6>
                                <div class="pr_desc">
                                    <p>&lt;p&gt;Background with large dark red grains defines the physical appearance of Gem Red Granite. 
&lt;/p&gt;&lt;p&gt;It is commonly use in Bathroom and Kitchen Countertops and Staircase 
&lt;/p&gt;&lt;p&gt;Lambodar Oversea is the leading exporter of India. We can supply the quality granite material within promised delivery period.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="product">
                            <div class="product_img">
                                <a href="Products/10.html">
                                    <img src="assets/images/products/10/main-min.jpg" alt="Green Marble" title="Green Marble">
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li><a asp-area="" asp-controller="Home" asp-action="Tentenn" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a asp-area="" asp-controller="Home" asp-action="Ten">Green Marble</a></h6>
                                <div class="pr_desc">
                                    <p>&lt;p&gt;Green Marble is the top exported product from India because of its alluring texture with deep Green Color. It will give you the glimpse of the forest from the sort distance view.
&lt;/p&gt;&lt;p&gt;Very good choice for Flooring, staircase, Bathroom and Kitchen tops.
&lt;/p&gt;&lt;p&gt;Lambodar Oversea is the leading exporter of India. We can supply the quality granite material within promised delivery period.&lt;/p&gt;</p>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="col-lg-12">
                    <div class="heading_s1 text-center">
                        <h2>About us</h2>
                    </div>

                    <p>
                        We introduce ourselves to be reckoning merchant exporter from India. M/s Lambodar Overseas established in the Year 2016 to cater international client with astonishing designs of natural stone from India.
                    </p>
                    <p>
                        M/s Lambodar Overseas is committed to supply highest standards of Qualitative Stone at Optimum price to build long lasting partnership with our client by proposing the best offer for the trade.
                    </p>
                    <p>
                        Over these years we have successfully managed to develop the strategic alliance with quarry owners and stone processers to deliver ‘Value for Money" products to customers on timely basis. We do acknowledge the importance and essentiality of choosing the reliable supplier which requires attention and due diligence in the international market.
                    </p>
                    <p>
                        Our team is consisting of expert who having experience of over the decade in the field of Stone Industry and Export processes to ensure smooth movement of product to the client. We recognize our responsibilities and make our client delighted with our professional approach when they select us as their trustable supplier.
                    </p>
                    <p>
                        We are truly pursuing our tag line to marvel our client with rocks designs.
                    </p>
                </div>
            </div>
        </div>
    </div>

    
<div class="section bg_default pb_70 text_white">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4">
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-shipped"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Delivering Worldwide</h5>
                        <p>Fulfilling the global demands of the top quality marbles and granite products</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-money-back"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Ethical Business Policies</h5>
                        <p>We grow when you grow and making our customers satisfied is our top priority</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon_box icon_box_style1">
                    <div class="icon">
                        <i class="flaticon-support"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>Instant Support</h5>
                        <p>We are always on our toes to resolve you after sales backend support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

