



<div class="ajax_quick_view">
    <div class="row">
        
<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
    <div class="product-image">
        <div class="product_img_box">
            <img id="product_img" src='assets/images/products/6/main-min.jpg' data-zoom-image="assets/images/products/6/main-min.jpg" alt="Tan Brown">
            <a href="javascript:;" class="product_img_zoom not-printable" title="Zoom">
                <span class="linearicons-zoom-in"></span>
            </a>
        </div>
        <div id="pr_item_gallery" class="product_gallery_item slick_slider" data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false">


                <div class="item">
                    <a href="javascript:;" class="product_gallery_item active" data-image="assets/images/products/6/main-min.JPG" data-zoom-image="assets/images/products/6/main-min.JPG">
                        <img src="assets/images/products/6/main-min.JPG" alt="Tan Brown">
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;" class="product_gallery_item active" data-image="assets/images/products/6/tan brown slabs.jpg" data-zoom-image="assets/images/products/6/tan brown slabs.jpg">
                        <img src="assets/images/products/6/tan brown slabs.jpg" alt="Tan Brown">
                    </a>
                </div>
                <div class="item">
                    <a href="javascript:;" class="product_gallery_item active" data-image="assets/images/products/6/tan brown tile.jpg" data-zoom-image="assets/images/products/6/tan brown tile.jpg">
                        <img src="assets/images/products/6/tan brown tile.jpg" alt="Tan Brown">
                    </a>
                </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-md-6">
    <div class="pr_detail ">
        <div class="product_description">
            <h4 class="product_title printable"><a href="javascript:;">Tan Brown  Granite</a></h4>

            <div class="pr_desc printable">
                <p>Tan Brown is the granite mined from the south part of India. It is brown color granite with Chocolate Granules. It is widely use in Kitchen Top because of Low water absorption feature.</p><p>It is popularly use for interior and Exterior projects.</p><p>Lambodar Oversea is the leading exporter of India. We can supply the quality granite material within promised delivery period.

                <p><em>We can supply as per Customer order specifications.</em></p>

            </div>

            <div class="product_sort_info printable">
                <ul>
                    <li><i class="linearicons-folder"></i> Category: Granite</li>
                    <li><i class="linearicons-calendar-empty"></i> Delivery Time: 15-20 Days</li>
                    <li><i class="linearicons-cart-add"></i> MOQ: 1 Container</li>
                </ul>
            </div>
            <a class="btn btn-fill-out btn-addtocart not-printable" href="../ContactUs.html">Inquiry Now</a>
        </div>
    </div>
</div>

    </div>
</div>

<script src="../assets/js/scripts.js"></script>