<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Lambodar Overseas</title>
   
    <base href="/" />

    <title>Home &ndash; Lambodar Overseas </title>
    <link href="css?family=Roboto:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="assets/css/merged.css" rel="stylesheet">
    <link rel="stylesheet" href="ajax/libs/lightgallery/1.9.0/css/lightgallery.min.css" integrity="sha512-gk6oCFFexhboh5r/6fov3zqTCA2plJ+uIoUx941tQSFg6TNYahuvh1esZVV0kkK+i5Kl74jPmNJTTaHAovWIhw==" crossorigin="anonymous">

    <script async="" src="gtag/js?id=G-BNSDGG59TE"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BNSDGG59TE');</script>
</head>
<body>
    <header class="header_wrap fixed-top header_with_topbar not-printable">
        <div class="top-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                            <ul class="contact_detail text-center text-lg-left">
                                <li><i class="ti-mobile"></i><span><a href="tel:+919913990377">+919913990377</a></span></li>
                                <li><i class="ti-email"></i><span><a href="mailto:info@lambodar.co.in">info@lambodar.co.in</a></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center text-md-right">
                            <ul class="header_list social_icons ">
                                <li><a target="_blank" href="https://g.page/LambodarOverseas"><i class="ion-social-googleplus"></i></a></li>
                                <li><a target="_blank" href="https://www.facebook.com/lambodar.co.in"><i class="ion-social-facebook"></i></a></li>
                                <li><a target="_blank" href="https://wa.me/+919913990377"><i class="ion-social-whatsapp"></i></a></li>
                                <li>
                                    <div id="google_translate_element"></div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_header dark_skin main_menu_uppercase">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.htm">
                        <img class="logo_dark" src="assets/images/logo-dark.png" alt="Lambodar Overseas">

                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false">
                        <span class="ion-android-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li><a class="nav-link nav_item active" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="javascript:;">Company</a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="AboutUS">About Us</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="CorporateProfile">Corporate Profile</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle nav-link" href="javascript:;" data-toggle="dropdown">Products</a>
                                <div class="dropdown-menu dropdown-reverse">
                                    <ul>
                                        <li>
                                            <a class="dropdown-item menu-link dropdown-toggler" href="javascript:;">Granites</a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="one">Crystal Yellow Granite</a></li>
                                                    <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Two">Crystal Blue Granite</a></li>
                                                    <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Three">Crystal Brown Granite</a></li>
                                                    <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Four">Black Galaxy Granite</a></li>
                                                    <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Five">Absolute Black Granite</a></li>
                                                    <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Six">Tan Brown Granite</a></li>
                                                    <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Seven">Sapphire Blue Granite</a></li>
                                                    <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Eight">G D Brown Granite</a></li>
                                                    <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Nine">Gem Red Granite</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="dropdown-item menu-link dropdown-toggler" href="javascript:;">Marbles</a>
                                            <div class="dropdown-menu">
                                                <ul>
                                                    <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Ten">Green Marble</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a class="nav-link nav_item" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>



    @RenderBody()



    <footer class="footer_dark not-printable">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget">
                            <div class="footer_logo">
                                <a href="index.htm"><img src="assets/images/logo-white.png" class="logo_white" alt="Lambodar Overseas"></a>
                            </div>
                            <p>
                                M/s Lambodar Overseas is committed to supply highest standards of Qualitative Stone at Optimum price to build long lasting partnership with our client by proposing the best offer for the trade.
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Quicklinks</h6>
                            <ul class="widget_links">
                                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                                <li><a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="CorporateProfile">Corporate Profile</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Products</h6>
                            <ul class="widget_links">
                                <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="one">Crystal Yellow Granite</a></li>
                                <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Two">Crystal Blue Granite</a></li>
                                <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Three">Crystal Brown Granite</a></li>
                                <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Four">Black Galaxy Granite</a></li>
                                <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Five">Absolute Black Granite</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">&nbsp;</h6>
                            <ul class="widget_links">
                                <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Six">Tan Brown Granite</a></li>
                                <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Seven">Sapphire Blue Granite</a></li>
                                <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Eight">G D Brown Granite</a></li>
                                <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Nine">Gem Red Granite</a></li>
                                <li> <a class="dropdown-item nav-link nav_item" asp-area="" asp-controller="Home" asp-action="Ten">Green Marble</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Contact Info</h6>
                            <ul class="contact_info contact_info_light">
                                <li>
                                    <i class="ti-location-pin"></i>
                                    <p>C/o Ganesh Saw Mill, Nr Vaikunth Dham Temple, Motipura, Himatnagar 383001 Gujarat, India</p>
                                </li>
                                <li>
                                    <i class="ti-email"></i>
                                    <p><a href="mailto:info@lambodar.co.in">info@lambodar.co.in</a></p>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p><a href="tel:+919913990377">+919913990377</a></p>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p><a href="tel:+919925114342">+919925114342</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="heading_s1 mb-md-0 heading_light">
                            <h3>Subscribe Our Newsletter</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="newsletter_form">
                            <form action="https://gmail.us7.list-manage.com/subscribe/post?u=b88375fc80644d15e03ca8101&amp;id=ed4153fa88" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                                <input type="email" name="EMAIL" id="mce-EMAIL" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-fill-out rounded-0">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="bottom_footer border-top-tran">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-md-0 text-center text-md-left">&copy; 2023 Lambodar Overseas. All Rights Reserved. </p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-center text-lg-right">
                            Powered by <a href="https://www.shakunsoft.com/" target="_blank">Shakunsoft IT Solutions Pvt. Ltd.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="javascript:;" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>
    <script src="assets/js/merged.js"></script>



    <script type="text/javascript">function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }</script>

    <script type="text/javascript" src="translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script src="ajax/libs/lightgallery/1.9.0/js/lightgallery.min.js" integrity="sha512-7VFifUeMsaNCpuIBKK8Knxf1sB5k+/h7g1RJEwOgOSRlZ4CnyI9jkX+aa9X13oKENIk1hyrrKKgnmr/VrXGfDA==" crossorigin="anonymous"></script>
    <script src="npm/lg-zoom%401.3.0/dist/lg-zoom.min.js" crossorigin="anonymous"></script>
    <script>$(document).ready(function () {
            $("#lightGallery").lightGallery({
                selector: '#lightGallery a',
                zoom: true
            });
        });</script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/600a77f8c31c9117cb7147be/1eske9a3h';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();</script>

   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

